cloud-init==22.2
datasets==2.8.0
emnist==0.0
GitPython==3.1.31
google-auth==2.16.0
google-auth-oauthlib==0.4.6
huggingface-hub==0.11.1
language-selector==0.1
Levenshtein==0.20.2
lightning-utilities==0.6.0.post0
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.2
multidict==6.0.3
multiprocess==0.70.14
netifaces==0.10.4
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.6.0.66
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
pathtools==0.1.2
Pillow==9.3.0
python-apt==1.6.6
python-dateutil==2.8.2
python-debian==0.1.32
pytorch-lightning==1.9.0
pytz==2022.7
pyxdg==0.25
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
scikit-learn==1.2.0
scipy==1.9.3
screen-resolution-extra==0.0.0
seaborn==0.12.2
systemd-python==234
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.11.0
torchvision==0.14.1
tqdm==4.64.1
transformers==4.25.1
ufw==0.36
urllib3==1.26.13
wandb==0.13.10
